[submodule "csmar-mcp"]
	path = csmar-mcp
	url = git@github.com:JinYuKiKK0/CSMAR-Data-MCP.git
[submodule "stata-executor"]
	path = stata-executor
	url = git@github.com:JinYuKiKK0/Stata-Executor-MCP.git
